<div class="content">


    <button ng-click="order='name'">Order by Name</button>
    <button ng-click="order='belt'">Order by belt</button>

    <input type="text" ng-model="search" placeholder="search for a dog " />

    <ul id="dog-list">
        <li ng-repeat="dog in dogs | orderBy: order | filter: search" ng-show="dog.available">

            <img ng-src="{{dog.thumb}}" style="margin: -12px 10px 0 0; float: left ; width: 50px; border-radius: 70px;" ng-show="dog.thumb" />

            <h3>{{dog.name}} - {{dog.rate | currency: '€'}}</h3>

            <div class="remove" ng-click="removeDog(dog)">x</div>

            <span class="belt" style="background:{{dog.belt}}">{{dog.belt}} belt</span>

        </li>
    </ul>
    <form ng-submit="addDog()">

        <input type="text" placeholder="name " ng-model="newdog.name" />
        <input type="text" placeholder="belt " ng-model="newdog.belt" />
        <input type="text" placeholder="rate " ng-model="newdog.rate" />

        <input type="submit" value=" Add a new dog " />

    </form>
    
     <button ng-click="removeAll()">Remove all dogs </button>

</div>
